# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log
master_log.txt

# OS specific
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local 